@black: black;
@grayDarkest: #222;
@grayDarker: #333;
@grayDark: #666;
@gray: #999;
@grayLight: #CCC;
@grayLighter: #DDD;
@grayLightest: #EEE;
@white: white;

@background: #FFF;
@navBarBackground: #DDD;
@lineColor: #EEE;
@textColor: #999;
@disabledColor: #CCC;
@valueColor: #666;
@topNavColor: #E4E4E4;
@pageColor: #F6F6F6;

@kibanaGray: #95a5a6;
@esBlue: #6eadc1;
@esRed: #d76051;
@esYellow: #fbce47;
@esGreen: #80c383;
@esPink: #e8488b;
@esPurple: #9980b2;

@esAltGreen: #8ac336;
@esCyan: #59c6c5;

summarize-editor,
.vis_editor {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: @pageColor;
}

.summarize__panelOptions {
  padding: 10px;
  background-color: @white;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  .vis_editor__row {
    margin-bottom: 10px;
  }

}

.summarize__indexOptions {
  padding: 10px;
  background-color: @white;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: space-around;

  .vis_editor__row {
    margin-bottom: 10px;
  }
}

.summarize__explanation {
  p {
    font-size: 1.2em;
  }
  button {
    margin: 0;
  }
}

.summarize__container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  .vis_editor__container {
    padding: 0;
  }
  .vis_editor__series {
    .vis_editor__container {
      padding: 5px;
    }
  }
}

.summarize__visualization {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  height: 250px;
  line-height: normal;
  background-color: @white;
  overflow: auto;
}

.summarize__visualization table {
  border-bottom: 2px solid @lineColor;
}

.summarize__value {
  text-align: right;
  font-size: 1.5em;
  vertical-align: middle;
}

tbody > tr > td.summarize__fieldName {
  font-size: 1.1em;
  vertical-align: middle;
}

.summarize__columnName {
  text-align: right;
}

.summarize__trend {
  margin-left: 4px;
}

.summarize__noResults {
  text-align: center;
  font-size: 1.2em;
}

.summarize__pagination {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
}

.summarize__pagination-page,
.summarize__pagination-prev,
.summarize__pagination-next,
.summarize__pagination-currentPage {
  display: inline-block;
  padding: 4px 6px;
  background-color: @grayLightest;
  margin-left: 1px;
  text-align: center;
}

.summarize__pagination-currentPage {
  font-weight: bold;
}

.summarize__totalResults {
  color: @grayLight;
  text-align: center;
}

summarize-visualization,
.summarize__dashboardContainer {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
